


/* input */

input{
    width: 25%;
    background-color: #e6ebe6;
    padding: 2px 20px 2px 20px;
    font-size: 20px;
    margin-top: 5px;
}

/* label */
label {
    display: inline-block;
    font-size:22px;
    width: 150px;
  }
